/* Estilização da seção de serviços */
#services {
    background-color: #161616;
    padding: 60px 0;
  }
  
  .services .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .section-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--cor2);
    margin-bottom: 40px;
  }
  
  .services-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .service-item {
    background-color: #ffffff;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(165, 165, 165, 0.2);
  }
  
  .service-title {
    font-size: 22px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .service-item p {
    font-size: 16px;
    color: #000c74;
  }
  
  @media (max-width: 768px) {
    .services-list {
      flex-direction: column;
      align-items: center;
    }
  
    .service-item {
      width: 80%;
      margin-bottom: 20px;
    }
  }
  